*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

html{
    scroll-behavior: smooth;
}


header {
    background-color: #1f1814; /* Customize the header background color */
    color: #fff; /* Customize the text color */
    position: fixed; /* Fix the header position */
    top: 0; /* Stick it at the top of the viewport */
    width: 100%; /* Make it full width */
    z-index: 1000; /* Ensure it's above other content */
    padding: 10px 0; /* Adjust padding as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to the bottom */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
    

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
    margin-left: 10px;

}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    font-weight: bold;
    font-size: 14px;
    transition: 500ms;
}

.menu a:hover {
    background-color: white;
    padding: 5px;
    color: #33241b;
}

.welcome-page{
    width: 100%;
    height: 100vh;
    background-image:url('images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /*fixed na covered entire element*/
}

.welcome-page::before {   /*overlay design*/
    content: " ";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
}

.welcome-text-container{
    position: relative;
    top: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome-text-container h1{
    position: relative;
    font-size: 60px;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /*hori, verti, blur*/
    transition: 500ms;
}

.welcome-text-container h1:hover{
    transform: scale(1.1);
    transition: 500ms;
}

/* .welcome-text-container p{
    position: relative;
    top: 20px;
    left: 5px;
    width: 690px;
    text-align: justify;
    font-size: 16px;
} */


/* .button{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    margin: 0 600px;
    padding: 6px 20px 6px 20px;
    font-size: 14px;
    box-shadow: 0px 0px 1px white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 100ms;
    
}

.button:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    box-shadow: 0px 0px 4px rgb(77, 77, 77);
} */


/* CROCHET PRODUCTS SECTION */

.title{
    text-align: center;
}

.title img{
    margin-top: 80px;
    width: 500px;
  }

.title h4 {
    margin-top: -10px;
    color: #33241b;
}

.product-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4% 20% 0 20%;
    transition: 1s;
}

.product-card {
    width: 150px;
    height: 200px;
    position: relative;
    margin: 0px 50px 60px 50px;
    transition: 1s;
    cursor: pointer;
}

.product-card img {
    width: 100%;
}

.shadow {
    width: 150px;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: black;
    border-radius: 50px;
    opacity: 8%;
    
}

/* .shadow:hover {
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 3px;
    border: 1px solid #33241b;
    background-color: black;
    border-radius: 30px;
    opacity: 50%;
    cursor: pointer;
} */

.product-name {
    position: absolute;
    width: 140px;
    height: 100px;  
    bottom: 10px;
    left: 0;
    z-index: 2;
    color: white;
    display: none; /* Hide the product name by default */
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    justify-content: center; /*align text center on the shadow box*/
    align-items: center;
    cursor: pointer;
}

.product-card:hover .product-name {
    display: flex; /* Show the product name on hover */
}

.product-name label {
    font-weight: bold;
    text-align: center; 
    cursor: pointer;
}









/* ABOUT US SECTION */
#about-us {
    background-color: #33241b;
    height: 100vh;
}

.about-us-container{
    padding: 60px 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-us-container h2{
    color: #ffffff;
    font-size: 35px;
}

.about-content {
    padding: 20px;
    text-align: justify;
    
}
















/* CONTACT SECTION */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    
}

h2 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;  /*magin bottom of contact us*/
    color: #33241b;
}

.contact-form label{
    color: #33241b;
}

form {
    text-align: left;
}


input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #33241b;
    font-weight: bold;
}

button {
    background-color:#0000001c;
    color:#33241b;
    margin-top: 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color:#33241b;
    color: #ffffff;
    font-weight: bold;
}


.contact-form h6{
    margin-top: 50px;
    font-size: 14px;
    color: #33241b;
}


.ig-account a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ig-account i {
    font-size: 24px;
    margin-right: 10px;
    color: #33241b;
}

.ig-account p.ig-un {
    font-size: 16px;
   
    white-space: nowrap; /* Prevent text from wrapping */
    color: #33241b;
}
.ig-account p.ig-un:hover {
    text-decoration: underline;
    
}




































footer {
    background-color:#33241be3; /* Customize the footer background color */
    color: #fff; /* Customize the text color */
    text-align: center;
    padding: 5px;
}

.footer-content {
    max-width: 1200px; /* Adjust the maximum width of the footer content */
    margin: 0 auto;/* Center the footer content horizontally */
    font-size: 12px;
}




/* footer {
    background-color:#33241b;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

/* Style the link for the contact email */
/* .footer a {
    color: #fff;
    text-decoration: none;
} */ 



@media only screen and (max-width: 540px) {
    
    .logo img {
        width: 120px;
    }
    
    .menu li {
        margin-right: 8px;
    }
    
    .menu a {
        font-size: 10px;
    }

    .welcome-text-container{
        top: 20%;
        left: 27%;
        width: 40%;
        border: 3px solid white;
        padding: 10px;
    }
    
    .welcome-text-container h1{
        font-size: 40px;
        line-height: 1.3;
    }
    
    .welcome-text-container h1:hover{
        transform: scale(1); /*stay sa size*/
    }
    
    .button{  
        top: 120px;
    }
    

    
    /* CROCHET PRODUCTS SECTION */
    
    .title img{
        width: 300px;
    }
    
    .product-container{
        justify-content: center;
        margin: 40px;
    }    
   
    .product-card {
        width: 150px;
        height: 200px;
        position: relative;
        margin: 0;
    }

    #about-us {
        background-color: #33241b;
        height: 100%;
        padding-bottom: 100px;
    }
    
    .about-us-container{
        padding: 60px 30px 0px 30px;
    }
    
    .about-content {
        font-size: 12px;
        
    }
}

@media only screen and (max-width: 800px) and (min-width: 540px) {
 
    .menu a {
        font-size: 11px;
    }

}

